*.pyc
*.pyo
*.pyd
__pycache__/

venv/
env/
.venv/
*.env

node_modules/
**/node_modules/
**/.next/
build/
**/package-lock.json
**/yarn.lock

*.class
*.o
*.so

*.log
*.pid
*.swp
*.swo
*.swn
logs/

.idea/
*.iml
.DS_Store
Thumbs.db

*.bak
*.old

coverage/
*.coverage
.nyc_output/

vendor/

media/
private-media/

*.css.map
*.js.map
/staticfiles/
**/staticfiles/